{% extends 'layout.html.twig' %}
{% block title %}Dojo{% endblock %}
{% block content %}
    <div id="tutos">
        <div class="container-fluid">
            <h1>Dojos, mode d'emploi</h1>

            <p> Le dojo est un moment de convivialité fait pour détendre les "apprenants". Il convient donc de tout
                mettre en oeuvre pour parvenir à cet objectif. A cet effet, notre équipe pédagogique met à ta
                disposition ce petit <strike>tutoriel</strike> réglement impératif qui devra te servir de référence.</p>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/github.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Art. 1</p>
                        </div>
                        <div class="col">
                            <h2>Venez comme vous voulez!</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Il n'y a pas de tenue adéquate pour le dojo, tout le monde est accepté. Quelle que soit son
                        apparence, ou son heure d'arrivée. D'ailleurs, les dojos sont facultatifs.</p>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/repo.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Art. 2</p>
                        </div>
                        <div class="col">
                            <h2>Pause clope</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Si le dojo dure plus de 5 minutes, merci de prévoir une pause.</p>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/github.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Art. 3</p>
                        </div>
                        <div class="col">
                            <h2>Collaboration</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>La Wide Code School est une école de la vie, et la coopération est un maître mot. Si un étudiant
                        est bloqué sur une fonction, les autres peuvent l'aider. Imposer le silence dans un dojo, c'est
                        comme mettre un oiseau en cage. </p>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/github.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Art. 4</p>
                        </div>
                        <div class="col">
                            <h2>Rester OU-VERT</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Si André propose une "nouvelle fonction", ne passe pas la main dans tes cheveux, et ne dis
                        surtout pas "pfoualala c'est compliqué!"</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}