{% extends 'layout.html.twig' %}
{% block title %}Dojo{% endblock %}
{% block content %}
    <div id="tutos">
        <div class="container-fluid">
            <h1 class="p-4 m-2 mt-5 text-center">Dojos, mode d'emploi</h1>

            <p class="h3 p-2 m-2"> Le dojo est un moment de convivialité fait pour détendre les "apprenants". Il
                convient donc de tout
                mettre en oeuvre pour parvenir à cet objectif. A cet effet, notre équipe pédagogique met à ta
                disposition ce petit <strike>tutoriel</strike> réglement impératif qui devra te servir de référence.</p>
            <div class="card">
                <div class="step">
                    <div class="row">
                        <img src="/assets/images/jeanette" class=" col-5 card-img-top">
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <h2 class="text-center mt-4">Venez comme vous êtes!</h2>
                                </div>
                                <div class="card-body">
                                    <p class="h3">Il n'y a pas de tenue adéquate pour le dojo, tout le monde est
                                        accepté. Quelle
                                        que soit son
                                        apparence, ou son heure d'arrivée. D'ailleurs, les dojos sont facultatifs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <div class="row">
                        <div class="col-7">
                            <div class="row">

                                <div class="col">
                                    <h2 class="mt-4 text-center">Pause clope</h2>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="h3">Si le dojo dure plus de 5 minutes, merci de prévoir une pause.</p>
                            </div>
                        </div>
                        <img src="/assets/images/solene.jpg" class="col-5 card-img-top">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <div class="row">
                        <img src="/assets/images/bavards.jpeg" class="col-5 card-img-top">
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <h2 class="mt-4 text-center">Collaboration</h2>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="h3">La Wide Code School est une école de la vie, et la coopération est un
                                    maître mot. Si
                                    un
                                    étudiant
                                    est bloqué sur une fonction, les autres peuvent l'aider. Imposer le silence dans un
                                    dojo, c'est
                                    comme mettre un oiseau (mignon) en cage. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <div class="row">
                        <div class="col-8">
                            <h2 class="mt-4 text-center">Rester OU-VERT</h2>
                            <div class="card-body">
                                <p class="h3">Si André propose une "nouvelle fonction", ne passe pas la main dans tes
                                    cheveux, et
                                    ne dis
                                    surtout pas "pfoualala c'est compliqué!"</p>
                            </div>
                        </div>
                        <img src="/assets/images/shadoks.jpg" class="card-img-top col-4">
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-5">
                {% if session.youtube <3 %}
                    <div class="col-12 text-center">
                        <a class="btn btn-primary" href="/Home/pr">T'es au point sur les PR ?</a>
                    </div>
                {% else %}
                    <div class="col-12 text-center">
                        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=sx1TqNXr8fQ&feature=youtu.be">Le meilleur pour la fin</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}