{% extends 'layout.html.twig' %}

{% block title %}Your journey ends here{% endblock %}
{% block content %}
    <h2 class="text-center">Allez, en vrai, on te veux pas de mal, pour preuve, on a une vidéo pour toi :</h2>
    <div class="text-center">
        <iframe width="800" height="500" src="https://www.youtube.com/embed/sx1TqNXr8fQ" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
{% endblock %}