{% extends 'layout.html.twig' %}

{% block title %}Were you too slow?﻿{% endblock %}

{% block content %}
    <div class="container-fluid" id="photos">
        <div class="row p-3 justify-content-center">
        <h1 class="d-inline col-6 p-2 text-center bertrand">Trop lent! Recommence! </h1>
        </div>
        <h2 class="p-1 bertrand">Quelques conseils:</h2>

        <ul class=" m-4 p-2">
            <li class=" h3 p-1"> Avant de commencer le test, échauffe-toi l'index.</li>

            <li class="h3 p-1"> Inspire un grand coup.</li>

            <li class=" h3 p-1">La drogue réduit les capacités intellectuelles de 60%.</li>

            <li class="h3 p-1">Le quizz demande beaucoup de réflexion. Lis bien les questions, la réponse ne se trouve pas dedans.</li>

        </ul>

    </div>
{% endblock %}