{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid kahoot p-5">
<div class="row justify-content-center p-5">
    <div class="col-3 p-5 justify-content-center text-center">
        <input type="text" placeholder="GAME PIN" class="m-3 text-center">
        <a class="btn btn-secondary m-2 align-self-center" href="/Home/kahoot1"><b>ENTER!</b></a>
        <a class="btn btn-secondary m-2" href="/Home/kahoot1"><b>Vous êtes lourds, vous avez déjà fait le coup du mot de passe</b></a>

    </div>

    <div class="remplissage">


    </div>

</div>
    </div>
{% endblock %}
