{% extends 'layout.html.twig' %}
{% block title %}Accepter une PR{% endblock %}
{% block content %}
    <div id="tutos">
        <div class="container-fluid">
            <h1>Comment accepter une PR ?</h1>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/github.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Etape 1</p>
                        </div>
                        <div class="col">
                            <h2>Ouvrir GitHub</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Selon Wikipédia, GitHub (exploité sous le nom de GitHub, Inc.) est un service web d'hébergement
                        et de gestion de développement de logiciels, utilisant le logiciel de gestion de versions Git.
                        Ce site est développé en Ruby on Rails et Erlang par Chris Wanstrath, PJ Hyett et Tom
                        Preston-Werner. GitHub propose des comptes professionnels payants, ainsi que des comptes
                        gratuits pour les projets de logiciels libres. Le site assure également un contrôle d'accès et
                        des fonctionnalités destinées à la collaboration comme le suivi des bugs, les demandes de
                        fonctionnalités, la gestion de tâches et un wiki pour chaque projet.</p>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/repo.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Etape 2</p>
                        </div>
                        <div class="col">
                            <h2>Aller sur un des projets des étudiants</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/github.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Etape 3</p>
                        </div>
                        <div class="col">
                            <h2>Cliquer sur l'onglet Pull Requests</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/github.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Etape 4</p>
                        </div>
                        <div class="col">
                            <h2>Accepter la PR</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}