{% extends 'layout.html.twig' %}
{% block title %}Accepter une PR{% endblock %}
{% block content %}
    <div id="tutos">
        <div class="container-fluid">
            <h1>Comment accepter une PR ?</h1>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/github.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Etape 1</p>
                        </div>
                        <div class="col">
                            <h2>Ouvrir GitHub</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Selon Wikipédia, GitHub (exploité sous le nom de GitHub, Inc.) est un service web d'hébergement
                        et de gestion de développement de logiciels, utilisant le logiciel de gestion de versions Git.
                        Ce site est développé en Ruby on Rails et Erlang par Chris Wanstrath, PJ Hyett et Tom
                        Preston-Werner. GitHub propose des comptes professionnels payants, ainsi que des comptes
                        gratuits pour les projets de logiciels libres. Le site assure également un contrôle d'accès et
                        des fonctionnalités destinées à la collaboration comme le suivi des bugs, les demandes de
                        fonctionnalités, la gestion de tâches et un wiki pour chaque projet.</p>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/repo.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Etape 2</p>
                        </div>
                        <div class="col">
                            <h2>Aller sur un des projets des étudiants</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Les étudiants de la Wild Code School ont une fâcheuse tendance à faire des projets, facilement
                        trouvable via l'organisation Wild Code School. Ces projets, qui peuvent paraître anodins pour
                        certains, sont très pratiques dans le cadre de leur apprentissage et de leur montée en
                        compétences.</p>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/github.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Etape 3</p>
                        </div>
                        <div class="col">
                            <h2>Cliquer sur l'onglet Pull Requests</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Dès le début, Git a été pensé dans le but de fonctionner de façon décentralisée, c'est d'ailleurs
                        l'une des clefs de son succès. La décentralisation de Git a aussi beaucoup
                        apporté au développement des logiciels libres, puisque le besoin de demander un compte sur un
                        dépôt SVN ou CVS centralisé devient obsolète. Il suffit de forker un projet ou de le cloner pour
                        commencer à travailler dessus (avec tout l'historique du projet en local) et ensuite de proposer
                        sa contribution (pull request) au dépôt principal (mainteneur principal du projet). </p>
                </div>
            </div>
            <div class="card">
                <div class="step">
                    <img src="/assets/images/github.png" class="card-img-top">
                    <div class="row">
                        <div class="col-1">
                            <p class="number">Etape 4</p>
                        </div>
                        <div class="col">
                            <h2>Accepter la PR</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Les étudiants de la Wild Code School sont très bons et très malins, en plus d'être gentils et
                        soyeux. Il n'y a donc absolument pas besoin de vérifier si la pull request est valide,
                        puisqu'elle l'est forcément. Ils vous invitent donc avec insistance à cliquer sur le bouton
                        adapté pour la validation de la PR. S'il vous plaît.</p>
                </div>
            </div>
            <div class="row mt-2 mb-5">
                {% if session.youtube <3 %}
                <div class="col-12 text-center">
                    <a class="btn btn-primary" href="/Home/dojo">T'es au point sur les dojo ?</a>
                </div>
                {% else %}
                <div class="col-12 text-center">
                    <a class="btn btn-primary" href="https://www.youtube.com/watch?v=sx1TqNXr8fQ&feature=youtu.be">Le meilleur pour la fin</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}