{% extends 'layout.html.twig' %}

{% block content %}
    <audio src="/assets/musique/kahoot.mp3" autoplay loop></audio>
    <div class="container-fluid p-5">

        <form method="post" action="/Home/success">
            <div class="row justify-content-center p-3">
                <div class="col-10 jumbotron  border border-danger m-1  p-4">
                    <h4> Répondre au Quizz avant que Sylvain ait fini d'accepter les PR (tu as donc largement le temps  ... :) )</h4>
                    <div class="border progress progress-height-big">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                             role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                             style="width: 75%"></div>
                    </div>

                </div>
                <div class="jumbotron  border border-danger m-1  p-4 col-10 p-1 justify-content-center">
                    <p class="question"> Sur les projets 3, je reçois une PR : </p>
                    <div class="border progress progress-height-little">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                             role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                             style="width: 75%"></div>
                    </div>
                    <div class="row m-2">
                        <div class="col-1 text-center">
                            <input type="radio" required id="1" name="pr" value="1">
                        </div>
                        <div class="col-11">
                            <label class="reponse" for="1">Il faut la corriger consciencieusement, et ne rien laisser
                                passer. La compétence des étudiants en dépend.</label>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-1 text-center">
                            <input type="radio" id="2" name="pr" value="2">
                        </div>
                        <div class="col-11">
                            <label class="reponse" for="2">Les pauvres choupinous, ils sont surchargés, il faut l'accepter
                                rapidement sans rien
                                regarder, on peut leur faire confiance!</label>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-1 text-center">
                            <input type="radio" id="3" name="pr" value="3">
                        </div>
                        <div class="col-11">
                            <label class="reponse" for="3">J'adore les Pommes Rôties. Donc je remercie.</label>
                        </div>
                    </div>
                </div>

                <div class="jumbotron  border border-danger m-1  p-4 col-10 p-1 justify-content-center">
                    <p class="question"> Le Seigneur des Anneaux : </p>
                    <div class="border progress progress-height-little">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                             role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                             style="width: 75%"></div>
                    </div>
                    <div class="row m-2">
                        <div class="col-1 text-center">
                            <input type="radio" required id="1" name="ring" value="1">
                        </div>
                        <div class="col-11">
                            <label class="reponse" for="1">Ca craint.</label>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-1 text-center">
                            <input type="radio" id="2" name="ring" value="2">
                        </div>
                        <div class="col-11">
                            <label class="reponse" for="2">Le livre comme les films sont mauvais</label>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-1 text-center">
                            <input type="radio" id="3" name="ring" value="3">
                        </div>
                        <div class="col-11">
                            <label class="reponse" for="3">Je suis plutôt de l'avis de Damien</label>
                        </div>
                    </div>
                </div>

                <div class="jumbotron  border border-danger m-1  p-4 col-10 p-1 justify-content-center">
                    <p class="question">  Apple : </p>
                    <div class="border progress progress-height-little">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                             role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                             style="width: 75%"></div>
                    </div>
                    <div class="row m-2">
                        <div class="col-1 text-center">
                            <input type="radio" required id="1" name="apple" value="1">
                        </div>
                        <div class="col-11">
                            <label class="reponse" for="1">C'est pire que Javascript.</label>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-1 text-center">
                            <input type="radio" id="2" name="apple" value="2">
                        </div>
                        <div class="col-11">
                            <label class="reponse" for="2">J'adore!</label>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-1 text-center">
                            <input type="radio" disabled id="3" name="apple" value="3">
                        </div>
                        <div class="col-11">
                            <label class="reponse" for="3">Je m'en fiche un peu, je ne veux pas lancer une guerre de
                                trolls</label>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row justify-content-center">

                <button class="btn btn-primary btn-lg" type="submit">Envoyer !</button>

            </div>
        </form>
    </div>

{% endblock %}
