{% extends 'layout.html.twig' %}
{% block title %}Bravo !{% endblock %}
{% block content %}
    <audio src="/assets/musique/victory.mp3" autoplay loop></audio>
    <div class="container-fluid mt-5 text-center">
        <h1>Félicitations !</h1>
        <h2>Tu es parvenu à répondre à ces questions avant que Sylvain n'ait eu le temps d'accepter ses PR</h2>
        <h3>Pour te féliciter, tu as gagné le droit de nous faire un badge sur Odyssey.</h3>
        <h4>ou bien de lire ces tutoriels très enrichissants :</h4>
        <div class="row mt-2">
            <div class="col-6 text-center">
                <a class="btn btn-primary" href="Home/pr">Accepter des PR</a>
            </div>
            <div class="col-6 text-center">
                <a class="btn btn-primary" href="Home/dojo">Gérer un dojo</a>
            </div>
        </div>
    </div>
{% endblock %}