{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
       A la wild code school on code avec les pieds.
        Et on ne sait pas encore protéger les mots de passe tels que <b class="enorme">{{ session.mdp.2 }}</b>.
    </div>
{% endblock %}
