{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">Comment accepter une PR en bonne et due forme ?</h1>
        <div class="step">Etape 1</div>

    </div>
{% endblock %}