header {
    background-color: #F37173;
    color: white;
    font-size: large;
}

.enorme{
    font-size: 10vw;
    color: darkred;
    font-weight: bold;
}

.kahoot{
    background-image: url("../images/kahoot.jpg");
    background-size: cover;
}

.remplissage{
    height: 700px;
}

.question{
    font-size: xx-large;
}

.reponse {
    font-size: large;
}