@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.bertrand{
    font-family: 'Press Start 2P', cursive;
}
.jumbo {
    background-color: #F37173;
    color: white;
    font-size: large;
}

.enorme{
    font-size: 10vw;
    color: darkred;
    font-weight: bold;
}

.kahoot{
    background-image: url("../images/kahoot.jpg");
    height: 100vh;
    object-fit: cover;
    width: 100vw;
    background-size: cover;
}

.remplissage{
    height: 700px;
}

.question{
    font-size: xx-large;
}

.reponse {
    font-size: large;
}
p{
    font-size: 14px;
}
.text-form{
    font-size: 14px;
}

.wrapper {

    left:0;
    right: 0;
    top: 0;
    bottom: 0;

    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html,
body {
    font-family: 'Roboto Mono', monospace;
    background: #212121;
    height: 100%;
}
.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.text {
    font-weight: 100;
    font-size: 15px;
    color: #fafafa;
}
.dud {
    color: #757575;
}


/******* SECURITE **********/

.area {
    text-align: center;
    font-size: 3em;
    color: #fff;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
    from {
        text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
}


.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.employees,.customer,.design,.order
{
}
.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}


.counter-count-success
{
    font-size: 18px;
    background-color: lightgray;
    border-radius: 50%;
    border-color: #3d8b3d;
    border-style: solid;
    border-width: 10px;
    position: relative;
    color: #3d8b3d;
    text-align: center;
    line-height: 75px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.counter-count-refused
{
    font-size: 18px;
    background-color: lightgray;
    border-radius: 50%;
    border-color: orangered;
    border-style: solid;
    border-width: 10px;
    position: relative;
    color: orangered;
    text-align: center;
    line-height: 75px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 16px;
    color: #000000;
    line-height: 20px;
}

.pr-status-refused
{
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    color: red;
    line-height: 20px;
}

.pr-status-success
{
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    color: #3d8b3d;
    line-height: 20px;
}


.question{
    font-size:20px;
}

.progress-height-big {
    height: 50px;
}

.progress-height-little {
    height: 5px;
    font-size:0;
}
